* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}


#root {
    width: 100%;
    display: grid;
    grid-template-rows: auto auto auto;
    background-color: #001c40;
    color: #fff;
}