

.projects_container {
    padding: 5%;
    display: grid;
    justify-content: center;
}

.projects_container h2 {
    text-align: center;
    font-size: 4rem;
}

.project_container {
    background-color: #183153;
    color: #fff;
    margin-top: 5%;
    padding: 5%;
    border: 1px solid #fff;
    border-radius: 4px;
    max-width: 340px;
    display: grid;
}

.project_container h3 {
    font-size: 3rem;
}

.projects_title {
    width: 100vw;
    font-size: 4rem;
    text-align: center;
}

.project_image_container {
    width: 100%;
}

.project_image_container img {
    width: 100%;
    border-radius: 4px;
    margin-top: 5%;
}

.project_techs_container {
    margin: 2% 0;
}

.project_techs_container span {
    background-color: #001c40;
    border-radius: 1px;
    padding: 0 1%;
    margin: 0 2% 0 0;
    font-size: 1.5rem;
}

.project_container p {
    margin: 5% auto;
    font-size: 2rem;
}

.project_links_container {
    width: 100%;
    display: flex;
    justify-content: end;
}

.project_links_container a {
    margin: 0 0 0 5%;
}

/* .project_links_container a {
    height: 50px;
} */

.project_links_container img {
    width: 3rem;
}



@media screen and (min-width: 768px) {
    .projects_container {
        grid-template-columns: auto auto;
        column-gap: 2%;
        justify-content: space-around;
    }
}